<div class="ui small long modal" id="keywordModal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="content">
  </div>
  <div class="actions">
    <div class="close ui button">OK</div>
  </div>
</div>