#menu {
  height: 67px!important;
}
#sidebar {
  top: 67px!important;
}
#wrapper {
  margin-top: 50px;
  margin-right: 20px!important;
  margin-left: 120px!important;
  margin-bottom: 30px;
}
.center-text {
  text-align: center!important;
}
.boldify {
  background: #FFB345;
  padding: 3px;
  border-radius: 3px;
}
.content {
  white-space: pre-wrap;
}